{# reference: https://www.juniper.net/documentation/us/en/software/junos/evpn-vxlan/topics/concept/evpn-vxlan-lightweight-leaf-server-loop-detection.html #}
{# configlet scope: role in ["leaf"] #}
protocols {
    loop-detect {
        enhanced {
{% for intf in interface.values() %}
{% if intf.role == 'l2edge' and intf.allowed_vlans|length %}
            interface {{ intf.intfName }}.0 {
                vlan-id {{ intf.allowed_vlans[-1] }};
                revert-interval 10;
            }
{% endif %}
{% endfor %}
        }
    }
}