interfaces {
    irb {
        unit 200 {
            family inet {
                mtu 1500;
            }
        }
    }
}
policy-options {
    prefix-list ospf-export {
        10.0.101.0/24;
    }
    policy-statement ospf-export {
        term from-ospf {
            from community FROM_OSPF;
            then reject;
        }
        term irbs {
            from {
                prefix-list ospf-export;
            }
            then accept;
        }
    }
    replace: policy-statement BGP-AOS-Policy-vrf {
        term BGP-AOS-Policy-vrf-10 {
            from policy AllPodNetworks-vrf;
            then accept;
        }
        term OSPF-to-T5 {
            from protocol ospf;
            then {
                community add FROM_OSPF;
                accept;
            }
        }
        term BGP-AOS-Policy-vrf-100 {
            then reject;
        }
    }
    community FROM_OSPF members 7:30003;
}
routing-instances {
{% for vrf in security_zones.values() %}
{% if vrf['sz_type'] == 'evpn' %}
    vrf {
        routing-options {
            router-id {{ vrf['loopback_ip'] }};
        }
        protocols {
            ospf {
                export ospf-export;
                area 0.0.0.0 {
                    interface {{ vrf['loopback_intf'] }} {
                        passive;
                    }
                    interface irb.200 {
                        mtu 1500;
                    }
                }
            }
        }
    }
{% endif %}
{% endfor %}
}