set interfaces irb.20 family inet mtu 1500
set interfaces irb.910 family inet mtu 1500
set interfaces irb.912 family inet mtu 1500
set policy-options policy-statement Import_From_OSPF term Import_From_OSPF from protocol ospf
set policy-options policy-statement Import_From_OSPF term Import_From_OSPF then community add FROM_OSPF
set policy-options policy-statement Import_From_OSPF term Import_From_OSPF then accept
set policy-options policy-statement Export_To_OSPF term Export_To_OSPF from community FROM_OSPF
set policy-options policy-statement Export_To_OSPF term Export_To_OSPF then reject
set policy-options policy-statement Export_To_OSPF term irbs from protocol direct
set policy-options policy-statement Export_To_OSPF term irbs from protocol static
set policy-options policy-statement Export_To_OSPF term irbs then accept
set policy-options community FROM_OSPF members 7:30003
{% for vrf in security_zones.values() %}
{% if vrf['vrf_name'] == 'corp_trust' %}
set routing-instances {{ vrf['vrf_name'] }} routing-options router-id {{ vrf['loopback_ip'] }}
set routing-instances {{ vrf['vrf_name'] }} protocols ospf area 0.0.0.1 interface {{ vrf['loopback_intf'] }} passive
set routing-instances {{ vrf['vrf_name'] }} protocols ospf area 0.0.0.1 interface irb.20 mtu 1500
set routing-instances {{ vrf['vrf_name'] }} protocols ospf area 0.0.0.1 interface irb.910 mtu 1500
set routing-instances {{ vrf['vrf_name'] }} protocols ospf area 0.0.0.1 interface irb.912 mtu 1500
set routing-instances {{ vrf['vrf_name'] }} protocols ospf export Export_To_OSPF
delete routing-instances {{ vrf['vrf_name'] }} protocols evpn ip-prefix-routes export BGP-AOS-Policy-corp_trust 
set routing-instances {{ vrf['vrf_name'] }} protocols evpn ip-prefix-routes export Import_From_OSPF 
set routing-instances {{ vrf['vrf_name'] }} protocols evpn ip-prefix-routes export BGP-AOS-Policy-corp_trust 
{% endif %}
{% endfor %}