{#
Configure sflow on the activive interfaces on leaf switches.
  The spine bound interfaces are excluded.
  Every leaf should have FIS routing zone. As such, a VN of FIS needs to be on every leaf. 
  The engine-id is set to 8888. This is to use the same authentication and privacy key.
  
Test command example:
    snmpwalk -v3  -l authNoPriv -u sflow-v3 -a SHA-256 -A zaq12wsxcde34rfv 10.85.192.16 .1.3.6.1.2.1.2.1
    snmpwalk -v3  -l authPriv -u sflow-v3 -a SHA-256 -A zaq12wsxcde34rfv -x AES-128 -X vfr43edcxsw21qaz 10.85.192.16 .1.3.6.1.2.1

/etc/juniper/flowcoll.yml example
#EF_PROCESSOR_ENRICH_NETIF_SNMP_COMMUNITIES: sFlow-collector
EF_PROCESSOR_ENRICH_NETIF_SNMP_ENABLE: "true"
EF_PROCESSOR_ENRICH_NETIF_SNMP_RETRIES: 1
EF_PROCESSOR_ENRICH_NETIF_SNMP_TIMEOUT: 2
EF_PROCESSOR_ENRICH_NETIF_SNMP_V3_AUTHENTICATION_PASSPHRASE: "zaq12wsxcde34rfv"
EF_PROCESSOR_ENRICH_NETIF_SNMP_V3_AUTHENTICATION_PROTOCOL: "sha256"
EF_PROCESSOR_ENRICH_NETIF_SNMP_V3_PRIVACY_PASSPHRASE: "vfr43edcxsw21qaz"
EF_PROCESSOR_ENRICH_NETIF_SNMP_V3_PRIVACY_PROTOCOL: "aes128"
EF_PROCESSOR_ENRICH_NETIF_SNMP_V3_USERNAME: "sflow-v3"
EF_PROCESSOR_ENRICH_NETIF_SNMP_VERSION: 3

To avoid clear text password in the configlet, the engine-id of the device is set to a specific value. 
  1. Generate the authenticaion key and privacy key in a device.
  2. Capture update the value in the configlet/property-sets.

2025-10-08 enable interface to spines as well. 
    #### keys regenerated for 23.4R2-S4.11. Is the key dependant to version?

#}

{# variables - can be set in the property set #}
{% set LEAF_ONLY = false %}
{% set sflow_collector='10.85.192.52' %}
{% set sflow_port=6343 %}
{% set sflow_rz='mgmt_junos' %}
{% set snmp_version=3 %}
{% set v2_community='sFlow-collector' %}
{% set v3_user='sflow-v3' %}
{% set v3_auth_key='$9$wdsJGik.F69s2n/9tOBNdVsoJqmf6Ct.mT36/tpWLX7-w2gJiqm2gz3/9pudbwYJGk.PTFnwY4ZDjq.BIRhlKMWxN-wleYg4JDjmfTzF/BIESyK0OEyleXxGDjkfT3nCOBE6/0IEcleX7-b4aik.5T3s2Tz3nCA7-dbs4UjHq.5-VP5F39CuO1hev' %}
{% set v3_priv_key='$9$j/HP5n6A0ORpu-VwsJZ69CpIEyrvL7-cSlM8LN-qmPTQnp0Byev0OEyevLXUjiqmTAp0BRhpudbws4oDikPFnpu1ESrmf' %}    

{% if not LEAF_ONLY or role == 'leaf' %}{# CHECK LEAF #}
{% if not os_version.endswith("-EVO") %}
routing-options {
    static {
        route {{sflow_collector}}/32 next-table {{sflow_rz}}.inet.0;
    }
}
protocols {
    sflow {
        polling-interval 10;
        sample-rate {
            ingress 1024;
            egress 1024;
        }
{% if sflow_rz != 'mgmt_junos' %}
        source-ip {{security_zones[sflow_rz]['loopback_ip']}};
{% else %}
        source-ip {{management_ip}};
{% endif %}
        collector {{sflow_collector}} {
            udp-port {{sflow_port}};
        }
    {% for interface, settings in portSetting.items() %}
        {% if settings['state'] == 'active' %}
        interfaces {{ interface }};
        {% endif %}
    {% endfor %}
    }
}
snmp {
{% if snmp_version == 3 %}
    v3 {
        usm {
            local-engine {
                user {{v3_user}} {
                    authentication-sha256 {
                        authentication-key "{{v3_auth_key}}"; ## SECRET-DATA
                    }
                    privacy-aes128 {
                        privacy-key "{{v3_priv_key}}"; ## SECRET-DATA
                    }
                }
            }
        }
        vacm {
            security-to-group {
                security-model usm {
                    security-name {{v3_user}} {
                        group sflow;
                    }
                }
            }
            access {
                group sflow {
                    default-context-prefix {
                        security-model usm {
                            security-level authentication {
                                read-view mib-2;
                            }
                        }
                    }
                }
            }
        }
    }
    engine-id {
        local 8888;
    }
{% elif snmp_version == 2 %}
    community {{v2_community}} {
        view mib-2;
        authoriztion read-only;
        routing-instance mgmt_junos {
            client-list-name sFlow-collector;
        }
    }
{% endif %}
    view mib-2 {
        oid .1.3.6.1.2.1;
    }
    client-list sFlow-collector {
        {{sflow_collector}}/32;
    }
    routing-instance-access;
}
{% endif %}
{% endif %}{# CHECK LEAF #}