{#
Configure sflow on the activive interfaces on leaf switches.
  The spine bound interfaces are excluded.
  Every leaf should have FIS routing zone. As such, a VN of FIS needs to be on every leaf. 
  The engine-id is set to 8888. This is to use the same authentication and privacy key.
  
Example property set:
    sflow_collector: 10.3.33.33
    sflow_port: 6343
    sflow_rz: FIS
    snmp_versin: 3     ## 2 or 3
    v2_community: sFlow-collector
    v3_user: sflow-v3
    v3_auth_key: $9$ayJjHq.5T36f5Qn/CB1-Vbs2aiHmF39mP0BIEyrvWLx7V4aZUHqJZ/CAu1IwY2gUj5QF6/tQz6ApuEh4aJUDk.mTQ36HkAp0OcSwY2oaUP5QF69wYmfTz6/Lx7-s2goJiHmM8GDHkTQcyrlLxYgoji.X7jHkqf5Fn/CO1IEclvWOBdbs2GUp0OIyl
    v3_priv_key: $9$DKkfTz36pO1/90IhSMWoJZDi.z36/Apn68XxNbwfTQz/CuO1creRESeM87Nmf5T69AtOhclu0-Vw2aJGDiHP56/tu0IHq

Test command example:
    snmpwalk -v3  -l authNoPriv -u sflow-v3 -a SHA-256 -A zaq12wsxcde34rfv 10.85.192.16 .1.3.6.1.2.1.2.1
    snmpwalk -v3  -l authPriv -u sflow-v3 -a SHA-256 -A zaq12wsxcde34rfv -x AES-128 -X vfr43edcxsw21qaz 10.85.192.16 .1.3.6.1.2.1

/etc/juniper/flowcoll.yml example
#EF_PROCESSOR_ENRICH_NETIF_SNMP_COMMUNITIES: sFlow-collector
EF_PROCESSOR_ENRICH_NETIF_SNMP_ENABLE: "true"
EF_PROCESSOR_ENRICH_NETIF_SNMP_RETRIES: 1
EF_PROCESSOR_ENRICH_NETIF_SNMP_TIMEOUT: 2
EF_PROCESSOR_ENRICH_NETIF_SNMP_V3_AUTHENTICATION_PASSPHRASE: "zaq12wsxcde34rfv"
EF_PROCESSOR_ENRICH_NETIF_SNMP_V3_AUTHENTICATION_PROTOCOL: "sha256"
EF_PROCESSOR_ENRICH_NETIF_SNMP_V3_PRIVACY_PASSPHRASE: "vfr43edcxsw21qaz"
EF_PROCESSOR_ENRICH_NETIF_SNMP_V3_PRIVACY_PROTOCOL: "aes128"
EF_PROCESSOR_ENRICH_NETIF_SNMP_V3_USERNAME: "sflow-v3"
EF_PROCESSOR_ENRICH_NETIF_SNMP_VERSION: 3

To avoid clear text password in the configlet, the engine-id of the device is set to a specific value. 
  1. Generate the authenticaion key and privacy key in a device.
  2. Capture update the value in the configlet/property-sets.

#}
{% if role == 'leaf' %}
routing-options {
    static {
        route {{sflow_collector}}/32 next-table {{sflow_rz}}.inet.0;
    }
}
protocols {
    sflow {
        polling-interval 10;
        sample-rate {
            ingress 1024;
            egress 1024;
        }
{% if sflow_rz != 'mgmt_junos' %}
        source-ip {{security_zones[sflow_rz]['loopback_ip']}};
{% else %}
        source-ip {{management_ip}};
{% endif %}
        collector {{sflow_collector}} {
            udp-port {{sflow_port}};
        }
    {% for intf_name in interface.values() 
        | rejectattr('switch_port_mode', 'equalto', 'subinterface') 
        | rejectattr('is_port_channel') 
        | selectattr('role', 'in', '["l2edge", "l3edge"]') 
        | map(attribute='intfName') 
        | list %}
        interfaces {{ intf_name }};
    {% endfor %}
    }
}
snmp {
{% if snmp_version == 3 %}
    v3 {
        usm {
            local-engine {
                user {{v3_user}} {
                    authentication-sha256 {
                        authentication-key "{{v3_auth_key}}"; ## SECRET-DATA
                    }
                    privacy-aes128 {
                        privacy-key "{{v3_priv_key}}"; ## SECRET-DATA
                    }
                }
            }
        }
        vacm {
            security-to-group {
                security-model usm {
                    security-name {{v3_user}} {
                        group sflow;
                    }
                }
            }
            access {
                group sflow {
                    default-context-prefix {
                        security-model usm {
                            security-level authentication {
                                read-view mib-2;
                            }
                        }
                    }
                }
            }
        }
    }
    engine-id {
        local 8888;
    }
{% elif snmp_version == 2 %}
    community {{v2_community}} {
        view mib-2;
        authoriztion read-only;
        routing-instance mgmt_junos {
            client-list-name sFlow-collector;
        }
    }
{% endif %}
    view mib-2 {
        oid .1.3.6.1.2.1;
    }
    client-list sFlow-collector {
        {{sflow_collector}}/32;
    }
    routing-instance-access;
}
{% endif %}
