// Import functions and mixins first
@import "minima/functions";
@import "minima/mixins";

// Define minima theme variables
$base-font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Segoe UI Symbol", "Segoe UI Emoji", "Apple Color Emoji", Roboto, Helvetica, Arial, sans-serif !default;
$code-font-family: "Menlo", "Inconsolata", "Consolas", "Roboto Mono", "Ubuntu Mono", "Liberation Mono", "Courier New", monospace;
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit:     30px !default;

$table-text-align: left !default;

// Width of the content area
$content-width:    800px !default;

// Breakpoints
$on-palm:          600px !default;
$on-laptop:        800px !default;
$on-medium:        $on-palm !default;
$on-large:         $on-laptop !default;

// Colors
$grey-color:       #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

$brand-color:           #2a7ae2 !default;
$brand-color-light:     lighten($brand-color, 40%) !default;
$brand-color-dark:      darken($brand-color, 25%) !default;

$site-title-color:      $grey-color-dark !default;

$text-color:       #111111 !default;
$background-color: #fdfdfd !default;
$code-background-color: #eeeeff !default;

$link-base-color:       #2a7ae2 !default;
$link-visited-color:    darken($link-base-color, 15%) !default;
$link-hover-color:      $text-color !default;

$border-color-01:     $grey-color-light !default;
$border-color-02:     lighten($grey-color, 35%) !default;
$border-color-03:     $grey-color-dark !default;

$table-text-color:  lighten($text-color, 18%) !default;
$table-zebra-color: lighten($grey-color, 46%) !default;
$table-header-bg-color: lighten($grey-color, 43%) !default;
$table-header-border:   lighten($grey-color, 37%) !default;
$table-border-color:    $grey-color-light !default;

// Import minima theme components
@import 
  "minima/base",
  "minima/layout",
  "minima/syntax-highlighting"; 